cmdline-add-args
colorama==0.4.6
python-dotenv
selenium==4.23.1
pytest==8.3.2
allure-pytest==2.13.5
allure-python-commons==2.13.5
PyHamcrest==2.1.0
Faker==26.0.0
pytest-json-ctrf
pytest-xdist
urllib3==2.2.2
websocket-client==1.8.0